<!DOCTYPE html>
<html>
<head>
  <title>
      <%=title %>
  </title>
</head>
<body>
  <% for(var i in messages) { %>
    <div class="flash"><%=messages[i] %></div>
  <% } %>
  <form action="/createRes" method="post">
    <div>
      <label>Email:</label>
      <input type="text" name="username" value="<%=user.username %>" />
    </div>
    <div>
      <label>Start Date/Time:</label>
      <input type="datetime-local" name="startTime" />
    </div>
    <div>
      <label>End Date/Time:</label>
      <input type="datetime-local" name="endTime" />
    </div>
    <div>
      <label>Area(s) Needed:</label>
      <input type="checkbox" name="areas" value="Picnic shelter" />
      <input type="checkbox" name="areas" value="Lower field" />
    </div>
    <div>
      <label>Purpose:</label>
      <% for(var i in eventTypes) {%>
        <select name="eventType">
          <option value="<%= eventTypes[i].eventType%>"</option>
        </select>
      <% } %>
    </div>
    <div>
      <label>Other Relevant Information:</label>
      <input type="textarea" name="comments" />
    </div>
    <div>
      <input type="submit" value="Save" />
    </div>
  </form>
</body>
</html>
