<!DOCTYPE html>
<html>
<head>
  <title>
      <%=title %>
  </title>
</head>
<body>
  <% for(var i in messages) { %>
    <div class="flash"><%=messages[i] %></div>
  <% } %>
  <form action="/listRes" method="post">
    <div>
      <label>List of Reservations</label>
      <% for(var j in list) { %>
        <div class="flash"><%- list[j] %></div>
      <% } %>
    </div>
  </form>
</body>
</html>